#footer {
  margin-top: 50px;
  background: $darkBrown;
  color: $lightBrown;

  .socials {
    margin: 0;
  }

  .icons-container {
    margin-left: 48%;
    margin-right: 52%;
    display: inline;

    img {
      width: 24px;
      height: 24px;
      padding-right: 10px;
    }
  }

  p {
    text-align: center;
  }

  .flex-container {
    display: flex;
    flex-direction: bottom;
  }
  .link {
    display: block;
  }
}
