#footer {
  background: $darkBrown;
  color: $lightBrown;

  .footer-top {
    .flex-container {
      display: flex;
      flex-direction: bottom;
    }
    .link {
      display: block;
    }
  }

  hr {
    border-color: white;
  }

  .footer-bottom {

    p {
      text-align: center;
    }

    .socials {
      margin: 0;
    }

    .icons-container {
      margin-left: 48%;
      margin-right: 52%;
      display: inline;

      img {
        width: 24px;
        height: 24px;
        padding-right: 10px;
      }
    }
  }
}
