#footer {

  background: $darkBrown;
  color: $lightBrown;

  .socials {
    margin: 0;
  }

  .icons-container {
    img {
      width: 24px;
      height: 24px;
      padding-right: 10px;
    }
  }

  p {
    text-align: center;
  }

  img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

}
