#footer {
  background: $darkBrown;
  color: $lightBrown;

  .footer-top {

    .logo {
      display: inline-block;
      margin-right: 10px;
    }

    .footer_box {
      display: inline-block;

      a {
        text-decoration: none;
        color: $lightBrown;
        display: block;
      }

      .aboutUs {
        display: inline-block;
        padding-right: 10px;
      }

      .legal {
        display: inline-block;
        padding-right: 10px;
      }
    }
  }

  hr {
    border-color: white;
  }

  .footer-bottom {

    p {
      text-align: center;
    }

    .socials {
      margin: 0;
    }

    .icons-container {
      margin-left: 47%;
      display: inline;

      img {
        width: 24px;
        height: 24px;
        padding-right: 10px;
      }
    }
  }
}
