#sideMenu {
  background: $Brown;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;

  .title {
    color: $lightBrown;
    padding-left: 30px;
    padding-right: 30px;
  }

  nav {
    li {
      list-style-type: none;
    }
    a {
      display: block;
      color: $lightBrown;
      text-decoration: none;
      padding: 15px 30px;
      font-weight: 300;

      .fa {
        color: $lightBrown;
        font-size: 1.4rem;
        margin-right: 0.8rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px;
      }
    }
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .copyright {
    padding: 15px 30px;
    color: $lightBrown;
  }
}

#content-area {
  padding-left: 280px;
  h2 { text-align: center; }

}
