#main-content {
  background-color: $darkBrown;

  #intro-header {
    background: $darkBrown;
    color: white;

    .logo {
      float: left;
      padding-top: 18px;
    }

    #demo-nav {
      background-color: $darkBrown;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0;
      margin-bottom: 30px;
      float: right;

      ul {
        li {
          display: inline;
          padding-bottom: 12px;
          a {
            text-decoration: none;
            margin-left: 200px;
            color: white;
          }
        }
      }

        &.active {
          color: $lightBrown;
        }
      }
    }



  #title {
    background: $Brown;
    h1 {
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      color: white !important;
    }

    h2 {
      text-align: center;
      color: $lightBrown !important;
    }
  }

  #background {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.65))), url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100vh;
  }

  #box {
    width: 35%;
    float: left;
    padding: 48px;
    background-color: rgba(255,255,255,.85);
    height: 500px;

    .section-heading {
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    .section-heading-upper {
      display: block;
      font-size: 1rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
    }

    .section-heading-lower {
      display: block;
      font-size: 3rem;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .intro-img {
    float: left;
    width: 60%;
  }

  .btn-color {
    background: $lightBrown !important;
    border-color: $lightBrown !important;
    margin: 0 auto;
  }

  #login-button {
    text-align: center;
    margin: 0;
  }

  #login-header {
    text-align: center;
    margin-bottom: 15px;
    color: $lightBrown;
  }

}
