#suggestions {

  .box {
  -webkit-box-shadow: 14px 7px 16px 1px rgba(168,166,168,1);
  -moz-box-shadow: 14px 7px 16px 1px rgba(168,166,168,1);
  box-shadow: 14px 7px 16px 1px rgba(168,166,168,1);
  background: #ddd;
  }
  .table {
    margin-top: 50px;
    border: 1px solid $lightBrown;

    thead {
      th {
        border: 1px solid $lightBrown;
        cursor: pointer;
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid $lightBrown;
        }
      }
    }
  }
}
